body {

    background-image: url(/assets/images/background.png);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vw;
    text-align: center;
    -webkit-animation: colorchange 20s infinite alternate;
}

.container {
    display: block;
    text-align: center;
    background-color: white;
    width: 60vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.item-start {    
    background-color: lightblue;
    border: 1px solid black;
    width: 30vw;
    height: 8vh;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 8vh;
    font-family: monospace;    
    font-size: 2vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.item-time {
    display: none;
    width: 40vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 40%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 2.3vw;
    transform: translate(-50%, -50%);
    cursor: default;
}

.item-question {    
    display: none;    
    width: 100%;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 48%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1.1vw;
    transform: translate(-50%, -50%);
    cursor: default;
}
.item-answer {        
    display: none;
    width: 30vw;
    height: 25vh;
    position: absolute;
    left: 50%;
    top: 67%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1vw;
    transform: translate(-50%, -50%);
    cursor: default;
}

#answer1 {
    border: 1px solid black;
    width: 35vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 15%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1vw;
    transform: translate(-50%, -50%);
}

#answer2 {
    border: 1px solid black;
    width: 35vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 40%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1vw;
    transform: translate(-50%, -50%);
}

#answer3 {
    border: 1px solid black;
    width: 35vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 65%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1vw;
    transform: translate(-50%, -50%);
}

#answer4 {
    border: 1px solid black;
    width: 35vw;
    height: 5vh;
    position: absolute;
    left: 50%;
    top: 90%;
    line-height: 5vh;
    font-family: monospace;    
    font-size: 1vw;
    transform: translate(-50%, -50%);    
}


.item-restart {
    display: none;
    background-color: lightblue;
    border: 1px solid black;
    width: 30vw;
    height: 8vh;
    position: absolute;
    left: 50%;
    top: 90%;
    line-height: 8vh;
    font-family: monospace;    
    font-size: 2vw;
    transform: translate(-50%, -50%);
    cursor: pointer;
}


@-webkit-keyframes colorchange {
    0% {
    
    color: blue;
    }
    
    10% {
    
    color: #8e44ad;
    }
    
    20% {
    
    color: #1abc9c;
    }
    
    30% {
    
    color: #d35400;
    }
    
    40% {
    
    color: blue;
    }
    
    50% {
    
    color: #34495e;
    }
    
    60% {
    
    color: blue;
    }
    
    70% {
    
    color: #2980b9;
    }
    80% {
    
    color: #f1c40f;
    }
    
    90% {
    
    color: #2980b9;
    }
    
    100% {
    
    color: pink;
    }
}